@import "./bootstrap-grid.min.css";

.row > div {
  border: 3px solid red;
}

.imageWrapper{
  --ratio: calc( 9 / 16 );
  width: 80%;
}

.innerWrapper{
  padding-top: calc(var(--ratio) * 100%);
  position: relative;
}

.innerWrapper > img{
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  object-fit: cover;
  object-position: center;
}